@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(48,50,50);
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: rgb(36,37,37);
    margin-top: -1%;
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: rgba(13, 13, 13, 0.42) 0px 1px 10px -6px, rgba(13, 13, 13, 0.12) 0px 1px 10px 0px, rgba(13, 13, 13, 0.1) 0px 4px 5px -2px;
}

.links_container {
    margin-top: 2.5%;
    margin-right: 15%;
    width: 500px;
}

.header_links {
    color: rgb(162,156,145);
    font-size:16px;
    margin-left: 3%;
}

.logo {
    margin-left: 100%;
    margin-top: 10%;
    cursor: pointer;
    height: 70%;
    width: auto;
    min-height: 40px;
    min-width: 60px;
    max-height: 50px;
}

.nav__links {
    list-style-type: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3 ease 0s;
}
.nav__links li a:hover {
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.main_container {
    background-color: rgb(36,37,37);
    margin-top: -40px;
    margin-left: 2%;
    margin-right: 2%;
    width: 95.5%;
    color:white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
}

.page_title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10%;
    padding: 4%;
}

.side_title {
    font-size: 30px;
    text-decoration: underline;
}
.margin_left {
    margin-left: 5%;
}
.main_information {
    text-align: center;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-top: -10%;
}
a {
    font-size: 20px;
    font-weight: 500;
}
a:hover {
    text-decoration: underline;
    color:rgb(167, 230, 232)
}
.danger_border {
    border-color: white;
    border-width: 1%;
    border-style:outset;
}
.danger_container {
    padding: 10px;
    text-align: center;
    display: flex;
    transform: scale(1, 1);
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 3%;
    margin-top: -2%;
}
#warning_sign {
    overflow: scroll;
}
.danger_image {
    height: 70%;
    width: auto;
    min-height: 40px;
    min-width: 60px;
    max-height: 120px;
}
.mixed_stuff {
    margin-bottom: 5%;
    text-align: center;
}
.video {
    margin-left: 16%;
    margin-bottom: 10%;
}
.videotext {
    display: flex;
}
.title_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    margin-top: -2%;
}
.text_video {
    margin-left: 22%;
}
.icelobby_screenshots {
    height: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3%;
}
.terms_of_service {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    height: 250px;
}
.image_smaller {
    height: 150px
}
.config_text {
    text-align: center;
}
.download_button {
    margin-left: 7%;
    display: inline-block;
}
.button_container {
    margin-left:25%;
    margin-top: 2%;
}
.margin_top {
    margin-top: 3%;
}
.titles {
    display: block;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image:linear-gradient(rgb(147,0,255),rgb(147,0,255),rgb(40,0,255),rgb(30,0,255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 350%;
    font-weight: 700;
    font-family: 'Orbitron';
}